/* Color Palette
theme 1(eerie): #161A1D
theme 2(ruby): #A4161A
theme text 1(cultured): #F5F3F4
*/

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-theme: #0B090A;
  --accent-theme: #A4161A;
  --text-theme: #F5F3F4;
}

.bg-theme-1 {
  background-color: var(--bg-theme);
}

.bg-theme-2 {
  background-color: var(--accent-theme);
}

.text-theme-1 {
  color: var(--text-theme)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Secular One';
  font-weight: 500;
  margin: .5em;
  line-height: 1.25;
}

body {
  min-height: 100%;
}

body {
  margin: 0 0 1.5em 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1em;
  letter-spacing: .1em;
  background: var(--bg-theme);
  color: var(--text-theme);
  font-family: 'Oxygen';

}

.section-heading {
  background-color: var(--text-theme);
  color: var(--accent-theme);
  margin-left: -48px;
  margin-bottom: 3em;
  width: 17em;
  height: 4em;
  box-shadow: 6px 4px #898989;
}

/* Header styles*/
h1 {
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: -3px 2px #660708;
}
h2 {
  font-size: 1em;
  width: 160px;
  text-shadow: -3px 2px #660708;
}

h3 {
  padding-left: 2em;
}

.title-bar {
  padding-left: 2em;
  width: 20em;
  box-shadow: 10px 4px #43373D;
}

.title-bar a {
  text-decoration: none;
}

.subtitle-bar {
  width: 220px;
  box-shadow: 10px 4px #43373D;
}

.navbar {
  margin-right: 3em;
  border-top: solid 3px var(--accent-theme);
  border-bottom: solid 3px var(--accent-theme);
}

.navbar-light .navbar-nav .nav-link.active { 
  color: #BA181B;
  text-shadow: 0 0 15px #EA5D5F;
  outline: none;
}


.navbar-light .navbar-nav .nav-link {
  font-family: 'Secular One';
  color: var(--text-theme);
  font-size: 1.3em;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #BA181B;
}

.skew {
  transform: skew(-40deg);
}


.anti-skew {
  transform: skew(40deg);
  
}

header {
  margin-right: -48px;
}

/* About Styles */

.bio-image {
  border-radius: 50%;
  height: 60vw;
  width: 60vw;
  background-size: cover;  
  background-image: url('./assets/images/bio-pic-bw-800.webp');
  border: solid 5px var(--accent-theme);
  box-shadow: 0 0 20px #43373D;
  margin: 0 auto;
}

.bio-text {
  font-size: 1em;
  text-shadow: 1px 1px #898989; 
}

/* Portfolio styles */

/* Contact styles */

/* Resume styles */

/* Footer styles */
footer {
  width: 100%;
  border-top: solid 16px var(--accent-theme);
  padding-top: 1.75em;
}


.contact-link {
  font-size: 2.2em;
}

.footer-links {
  width: 15rem;
}

footer p {
  vertical-align: middle;
  font-size: .75em;
}

.footer-logo {
  font-size: 3em;
}

.icon {
  position: relative;
  top: 8px;
}

footer p span {
  font-size: 1.75em;
}

footer a:hover { 
  text-decoration: none; 
}



